.card {
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
  }
  
  .card-image {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 7px 10px 4px rgba(0, 0, 0, 0.1);

  }
  
  .card-details {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  }
  
  .card-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-email,
  .card-gender,
  .card-phone,
  .card-location {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
  }
  
  .loading {
    font-size: 1.2rem;
    text-align: center;
    color: #777;
  }
  